@media (min-width: 601px) and (max-width: 775px) {

    #homeLayout {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        margin-left: 0;
    }

    #clock-container img {
        width: 60%;
      }

    #title-start-container {
        width: 100%;
        margin-top: 58%;
        margin-left: 0%;
        padding-top: 2rem;
    }

    #titles h1 {
        width: 100%;
        font-size: 40px;
        justify-content: center;
        text-align: center;
        margin-left: 0;

    }

    #titlept2 {
        margin: 0;
    }


    #start-button-container img {
        position: absolute;
        left: 31vw;
        top: 65vh;
        width: 35vw;
}

    #alogSlogan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #AlgoLogo {
        width: 55vw;
        height: 6vw;
        left: 22.5vw;
        bottom: 12.5vh;
        justify-content: center;
        align-items: center;
    }

    #Slogan {
        position: absolute;
        width: 80vw;
        height: 6vw;
        left: 10vw;
    }

}

@media (min-width: 700px) and (max-width: 775px){
    #title-start-container {
        width: 100%;
        margin-top: 55%;
        margin-left: 0%;
        padding-top: 0rem;
        padding-top: 1rem;
    }
}


@media (min-width: 776px) and (max-width: 962px) {

    #homeLayout {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    #clock-container img {
        width: 60%;
    }

    #titles h1 {
        font-size: 45px;
        justify-content: end;
        text-align: end;
        margin-top: 5rem;
        margin-right: 3rem;
        margin-left: 1.5rem;
    }

    #title-start-container {
        margin-left: 20%;
        margin-top: 7%;
    }

    #start-button-container img {
        position: absolute;
        left: 31vw;
        top: 58vh;
        width: 35vw;
    }

    #alogSlogan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #AlgoLogo {
        width: 55vw;
        height: 6vw;
        left: 22.5vw;
        bottom: 12.5vh;
        justify-content: center;
        align-items: center;
    }

    #Slogan {
        position: absolute;
        width: 80vw;
        height: 6vw;
        left: 10vw;
    }

}
