@media (min-width: 601px) and (max-width: 962px) {

    #restartBtn {
        height: 50px;
        width: 150px;
        font-size: 18px;
    }

    #SubmitBtn {
        margin-top: 1.5rem;
        width: 150px;
        height: 70px;
        font-size: 20px;
    }

    #SubmitQzBtn {
        margin-top: 1.5rem;
        width: 150px;
        height: 70px;
        font-size: 18px;
    }

    #NextBtn {
        margin-top: 1.5rem;
        width: 150px;
        height: 70px;
        font-size: 20px;
    }

    #RibaLogo {
        width: 185px;
        height: 50px;
    }

    #QuestContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 12rem;
        width: 100%;
        /* Set width to 100% to allow expansion */
        margin-top: -3rem;
        border-radius: 8px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-size: 1.5rem;
        line-height: 1.8rem;
        background-image: url('../../public/assets/images/QuestionBg.png');
        background-size: contain;
        background-position: center;
    }

    #prevBtn,
    #nextBtn {
        height: 50px;
        width: 30px;
    }

    #AnsNavCont {
        width: 100%;
        /* Allow the container to take up 90% of the viewport width */
        max-width: 54rem;
        /* Set a maximum width to prevent excessive expansion */
        height: auto;
    }

    #answersCont {
        width: 100%;
        /* Make the answers container responsive */
        min-width: 14rem;
        height: 10rem;
    }

    #xMark{
        width: 2rem;
        height: 2rem;   
    }

    #checkMark {
        width: 2.25rem;
        height: 2rem;
    }

    #resultOf,
    #CorMissText {
        font-size: 0.75rem;
    }

    #preRRR,
    #nbAns {
        font-size: 2rem;
    }

    #wordAns {
        font-size: 1rem;
    }

    #ansPopupQues {
        width: 95%;
        height: 10rem;
        margin-top: 10.4rem;
        border-radius: 0.5rem;
        background-image: url('../../public/assets/images/TextFieldBg.png');
        background-size: contain;
        background-position: center;
        padding: 5rem;
    }

    #ansPopupFields {
        width: 95%;
        z-index: 9999;
        border: 0.2rem solid #BC202E;
    }

    #ansNumbering {
        font-size: 1.6rem;
    }

    #ansPopupSingField {
        width: 45rem;
        height: 4rem;
        font-size: 1.6rem;
        font-weight: lighter;
    }


    #subCancelRow {
        margin-top: 2rem;
        --tw-space-x-reverse: 0;
        margin-right: 0rem;
        margin-left: 0rem;
    }

    #subCancelBtn {
        width: 12rem;
        height: 5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #expContainer {
        width: 77%;
        font-size: 1.8rem;
        line-height: 2.5rem;
        padding: 1.5rem;
    }

    #expLogo1,
    #expLogo3 {
        height: 4rem;
    }

    #expLogo2 {
        height: 6rem;
    }

    #expCloseBtn {
        width: 12rem;
        height: 5rem;
    }

}


@media (min-width: 601px) and (max-width: 770px) {
    #ansPopup h1 {
        font-size: 25px;
    }
}

@media (min-width: 771px) and (max-width: 800px) {
    #ansPopup h1 {
        font-size: 35px;
    }
}








