  /* For screens larger than 1920px (Full HD) */
  @media (min-width: 1920px) {

      #restartBtn {
          height: 70px;
          width: 250px;
          font-size: 30px;
      }

      #SubmitBtn {
          margin-top: 2rem;
          width: 210px;
          height: 100px;
          font-size: 40px;
      }

      #SubmitQzBtn {
          margin-top: 2rem;
          width: 210px;
          height: 100px;
          font-size: 28px;
      }

      #NextBtn {
          margin-top: 2rem;
          width: 210px;
          height: 100px;
          font-size: 40px;
      }

      #RibaLogo {
          width: 285px;
          height: 80px;
      }

      #QuestContainer {
          height: 15rem;
          width: 70rem;
          margin-top: -5rem;
          border-radius: 10px;
          background-size: contain;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 2.75rem;
          padding-right: 2.75rem;
          font-size: 2.5rem;
          font-weight: lighter;
          line-height: 2.5rem;
          white-space: normal;
          text-align: center;
      }

      #prevBtn {
          height: 100px;
          width: 50px;
      }

      #nextBtn {
          height: 100px;
          width: 50px;
      }

      #AnsNavCont {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          max-width: 79rem;
          margin-top: 2cqw;
      }

      #answersCont {
          width: 35rem;
          height: 7rem;
          white-space: normal;
          overflow: hidden;
          text-overflow: ellipsis;
      }

      #xMark {
          width: 3rem;
          height: 3rem;
      }

      #checkMark {
          width: 4rem;
          height: 3.5rem;
      }

      #resultOf {
          font-size: 1.25rem;
      }

      #CorMissText {
          font-size: 1.25rem;
      }

      #preRRR {
          display: inline;
          font-weight: bold;
          font-size: 3.5rem;
          padding-left: 1rem;
      }

      #postRRR {
          display: inline;
          font-weight: normal;
          font-size: 1.25rem;
      }

      #nbAns {
          display: inline;
          font-weight: bold;
          font-size: 3.5rem;
          padding-left: 1rem;
      }

      #wordAns {
          display: inline;
          font-weight: bolder;
          font-size: 1.40rem;
          padding-left: 1rem;
      }

      #ansPopup {
          z-index: 9999;
      }

      #ansPopupQues {
          width: 70rem;
          height: 11rem;
          margin-top: 11rem;
          margin-bottom: 2rem;
          border-radius: 10px;
          background-size: contain;
      }

      #ansPopupFields {
          width: 70rem;
          z-index: 9999;
          border: 0.25rem solid #BC202E;
      }

      #ansNumbering {
          font-size: 2rem;
      }

      #ansPopupSingField {
          width: 55rem;
          height: 5rem;
          font-size: 2rem;
          font-weight: lighter;
      }

      #subCancelBtn {
          z-index: 9999;
          background-size: contain;
          width: 17.25rem;
          height: 7rem;
          margin-top: 2rem;
      }

      #expContainer {
          background-color: white;
          color: black;
          font-size: 4rem;
          /* This is equivalent to text-3xl */
          line-height: 5rem;
          padding: 3rem;
          /* Equivalent to p-6 */
          border-radius: 1.5rem;
          /* Equivalent to rounded-lg */
          border: 0.25rem solid #BC202E;
          height: 61%;
          /* Equivalent to h-1/2 */
          width: 61%;
          /* Equivalent to w-1/2 */
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }

      #expLogos{

      }

  }

  /* For screens between 1536px and 1919px */
  @media (min-width: 1536px) and (max-width: 1919px) {

      #restartBtn {
          height: 70px;
          width: 250px;
          font-size: 30px;
      }

      #SubmitBtn {
          margin-top: 2rem;
          width: 210px;
          height: 100px;
          font-size: 40px;
      }

      #SubmitQzBtn {
          margin-top: 2rem;
          width: 210px;
          height: 100px;
          font-size: 28px;
      }

      #NextBtn {
          margin-top: 2rem;
          width: 210px;
          height: 100px;
          font-size: 40px;
      }

      #RibaLogo {
          width: 285px;
          height: 80px;
      }

  }

  /* For screens between 1280px and 1535px */
  @media (min-width: 1280px) and (max-width: 1535px) {

      #restartBtn {
          height: 40px;
          width: 150px;
          font-size: 20px;
      }

      #SubmitBtn {
          margin-top: 2rem;
          width: 155px;
          height: 70px;
          font-size: 25px;
      }

      #SubmitQzBtn {
          margin-top: 2rem;
          width: 155px;
          height: 70px;
          font-size: 20px;
      }

      #NextBtn {
          margin-top: 2rem;
          width: 155px;
          height: 70px;
          font-size: 25px;
      }

      #RibaLogo {
          width: 285px;
          height: 80px;
      }
  }