@media (min-width: 963px) and (max-width: 1279px) {

    #blood-drop-container-tablet {
        display: none;
    }

    #blood-drop-container {
        height: 50% !important;
        width: 23%;
    }

    #rstrtQuizBtn {
        height: 15vh !important;
        width: 100%;
    }

}

@media (min-width: 1280px) and (max-width: 1920px) {

    #blood-drop-container-tablet {
        display: none;
    }

    #blood-drop-container {
        height: 55% !important;
        width: 20%;
    }

    #rstrtQuizBtn {
        height: 15vh !important;
        width: 100%;
    }

}

@media (min-width: 1280px) and (max-width: 1724px) {

    #congtextpt2 {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

}

@media (min-width: 1725px) and (max-width: 1920px) {

    #congtextpt2 {
        padding-left: 10rem !important;
        padding-right: 10rem !important;
    }

}


