@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.animate-fadeOut {
  animation: fadeOut 1s forwards;
}

.animate-fadeOutRight {
  animation: fadeOutRight 1s forwards;
}
